:root {
    --Red: hsl(14, 86%, 42%);
    --Green: hsl(159, 69%, 38%);
    --Rose50: hsl(20, 50%, 98%);
    --Rose100: hsl(13, 31%, 94%);
    --Rose300: hsl(14, 25%, 72%);
    --Rose400: hsl(7, 20%, 60%);
    --Rose500: hsl(12, 20%, 44%);
    --Rose900: hsl(14, 65%, 9%);
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
}

.page-container {
    width: 90%;
    margin: auto;
}

.desserts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.dessert-image {
    position: relative;
}

.dessert {

}

.button-container {
    margin-top: 48px;
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
}

.btn {
    border-radius: 24px;
    padding: 8px;
    border: solid 2px var(--Rose300);
    font-size: 16px;
    width: 150px;
    background-color: var(--Rose50);
    font-weight: bold;
    font-weight: 500;
}

.dessert h2 {
    color: var(--Rose300);
    font-size: 14px;
}
